---
const aboutHeaderTitleText = "Fastiloose!";
const aboutHeaderLongText =
  "Fastiloose! is a lightweight skirmish game engine built for speed, laughter, and invention. It’s the kind of system you can learn in a coffee break and twist into something entirely your own by lunch.";
---

<div class="about-header">
  <h1>{aboutHeaderTitleText}</h1>
  <p>{aboutHeaderLongText}</p>
</div>
