---

---

<div class="hero-header">
  <h1>Fastiloose!</h1>
</div>

<style>
  .hero-header {
    font-size: 300%;
  }

  .hero-header h1 {
    padding-top: 2rem;
    border-bottom: 3px solid black;
  }
</style>
