---
const { imageArray } = Astro.props;
import { Image } from "astro:assets";
---

<div>
  {
    imageArray.map((img) => (
      <Image src={img.src} alt={img.alt} class="stripImage" />
    ))
  }
</div>

<style>
  .stripImage {
    max-width: 10rem;
    height: auto;
    margin: 1rem;
  }
</style>
