<div class="nav-bar">
  <a href="/">Home</a>
  <a href="rules">Rules</a>
  <a href="gorrot">Gorrot</a>
  <a href="about">About</a>
</div>

<style>
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 1rem;
    align-items: center;
    margin: 0 0 1rem 0;
    border: 1px solid black;
  }

  .nav-bar a {
    margin: 0.5rem 2rem;
  }
</style>
