---
import HeroHeader from "../components/HeroHeader.astro";
import HeadDescription from "../components/HeadDescription.astro";
import ImageStrip from "../components/ImageStrip.astro";
import NavBar from "../components/NavBar.astro";
import GorrotHeader from "../components/GorrotHeader.astro";
import "../fonts.css";
import "../reset.css";
import TitleTextBlock from "../components/TitleTextBlock.astro";
import headPic1 from "../assets/images/8x8.png";
import headPic2 from "../assets/images/8x8.png";
import headPic3 from "../assets/images/8x8.png";

const images = [
  { src: headPic1, alt: "First image" },
  { src: headPic2, alt: "Second image" },
  { src: headPic3, alt: "Third image" },
];

const gorrotTitle = "What is Gorrot?";
const gorrotDescription =
  "Gorrot is a planned Expansion for Fastiloose!. Gorrot takes the underlying framework and layers an aesthetic over the top of it, with customisations that give real thematic coherence to a single vision, without upsetting the system that fuels it. Gorrot serves as an example of how powerful Fastiloose! can be, but also as an excuse for me to come up with crazy ideas.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Fastiloose! - Gorrot</title>
  </head>
  <body>
    <NavBar />
    <div class="gorrot-main">
      <HeroHeader headerText="Gorrot" />
      <ImageStrip imageArray={images} />
      <TitleTextBlock title={gorrotTitle} text={gorrotDescription} />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .gorrot-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 35rem;
    padding: 0rem 2rem;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
</style>
