---
import HeroHeader from "../components/HeroHeader.astro";
import HeadDescription from "../components/HeadDescription.astro";
import ImageStrip from "../components/ImageStrip.astro";
import NavBar from "../components/NavBar.astro";
import "../fonts.css";

import headPic1 from "../assets/images/8x8.png";
import headPic2 from "../assets/images/8x8.png";
import headPic3 from "../assets/images/8x8.png";

const images = [
  { src: headPic1, alt: "First image" },
  { src: headPic2, alt: "Second image" },
  { src: headPic3, alt: "Third image" },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Fastiloose! - Home</title>
  </head>
  <body>
    <NavBar />
    <div class="home-main">
      <HeroHeader />
      <ImageStrip imageArray={images} />
      <HeadDescription
        headText="Fastiloose! is a lightweight skirmish engine that invites customisation."
        headSubText="It’s fast to learn, quick to play, and easy to adapt. Some character tokens, a pen, paper, and a die. That’s all you need!"
      />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .home-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
